.mainDiv {
    display: inherit;
    background: linear-gradient(to right top, #006DBF, #0092FF);
    padding: 15px;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    position: absolute;
    z-index: 1;
    width: 100%;
    opacity: 0.85;
}
.connectButton {
    font-size: 16px;
    font-weight: 600;
    font-family: Open Sans;
    color: white;
    background-color: #0089EF;
    text-align: center;
    height: 56px;
    width: 296px;
    padding-top: 20px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    z-index: 3;
    opacity: 2;
    top: 75%;
}

.subTitleProjectMobile {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #cccccc;
    margin: 0; /* Убираем внешний отступ */
    -webkit-line-clamp: 2; /* Число отображаемых строк */
    display: -webkit-box; /* Включаем флексбоксы */
    -webkit-box-orient: vertical; /* Вертикальная ориентация */
    overflow: hidden; /* Обрезаем всё за пределами блока */
}
.titleProjectMobile {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: white;
    padding-bottom: 5px;
}

@media screen and (min-width: 815px) {
    .mainDiv {
        display: none;
    }
}